<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="head.html::head">
 </head>
  <body>
<header th:replace="header.html :: header"></header>
<div class="container-fluid">
  <div class="row">
    <nav th:replace="nav.html :: nav"></nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="container-fluid">
        <div class="row">
          <nav th:replace="nav.html :: nav"></nav>
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2" th:text="${board.title}">title</h1>
            </div>
            <form action="/board" method="post">

              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">내용</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="10"
                disabled th:text="${board.content}"></textarea>
              </div>
            </form>
            <div th:if="${writer}">
              <form th:action="@{/board/{id} (id=${board.id})}" th:method="delete">
            <a class="btn btn-primary" th:href="@{/board/{id}/edit(id=${board.id}) }">수정</a>
              <button class="btn btn-danger" type="submit">삭제</button>
              </form>
            </div>
            <br>
            <div class="card">
              <div class="card-header">댓글 목록
                <span class="badge rounded-pill text-bg-secondary position-relative opacity-75">
                  Count
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  13
                <span class="visually-hidden">unread messages</span>
                </span>
                </span>
              </div>
              <div class="card-body">
              <ul class="list-group-flush">
                <li class="list-group-item" style="border:#4d5154">
                  <span>
                    <span style="font-size: small">내용입니다 내용입니다</span>
                    <span style="font-size: xx-small">작성일</span>
                    <button class="badge rounded-pill text-bg-secondary" style="border: none">수정</button>
                    <button class="badge rounded-pill text-bg-danger" style="border: none">삭제</button>
                  </span>
                  <hr>
                </li>

                <li class="list-group-item">
                  <span>
                    <span style="font-size: small">닉네임 ㅋ</span>
                    <span style="font-size: xx-small">작성일</span>
                    <button class="badge rounded-pill text-bg-secondary " style="border: none" >수정</button>
                    <button class="badge rounded-pill text-bg-danger " style="border: none">삭제</button>
                  </span>
                  <hr>
                </li>
                <li class="list-group-item">
                  <span>
                    <span style="font-size: small">닉네임 ㅋ</span>
                    <span style="font-size: xx-small">작성일</span>
                    <button class="badge rounded-pill text-bg-secondary" style="border: none">수정</button>
                    <button class="badge rounded-pill text-bg-danger" style="border: none">삭제</button>
                  </span>
                  <hr>
                </li>
              </ul>
              </div>
            </div>
            <hr>
            <div class="card">
              <div class="card-header">댓글 작성</div>
              <form action="#">
                <input type="hidden" id="boardId" th:value="${board.id}"/>
                <div class="card-body">
                  <textarea id="comment" class="form-control" rows="3" placeholder="댓글을 입력하세요"></textarea>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">작성</button>
                </div>
              </form>
            </div>
          </main>

        </div>
      </div>

    </main>
  </div>
</div>

<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
  </body>
</html>
