<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="head.html::head">
 </head>
  <body>

<header th:replace="header.html :: header"></header>
<div class="container-fluid">
  <div class="row">
    <nav th:replace="nav.html :: nav"></nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">My Stocks</h1>
      </div>
      <br>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr class="table-secondary">
              <th scope="col" th:class="col-1">주식명</th>
              <th scope="col" th:class="col-3">기준 날짜</th>
              <th scope="col" th:class="col-2">종가</th>
              <th scope="col" th:class="col-1">삭제</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="stock : ${myStock}">
              <td><a th:href="@{/stock/{stockName}(stockName=${stock.stockName})}" href="www.naver.com"
                      th:text="${stock.stockName}">random</a>
              </td>
              <td th:text="${stock.createDate}">data</td>
              <td th:text="${stock.getClpr()}">placeholder</td>
              <td><form th:action="@{/mystock/{mystockid}(mystockid=${stock.id})}" th:method="delete">
                <input type="submit" class="btn btn-danger" th:value="삭제"/>
              </form></td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <div class="container text-center">
        <span th:if="${previousPage}">
          <a style="color: #1a1e21" th:href="@{/(page=${pageNum}-1)}" role="button" ><ion-icon name="caret-back"></ion-icon></a>
        </span>
        <span th:if="${nextPage}">
          <a style="color: #1a1e21" th:href="@{/(page=${pageNum}+1)}" role="button" ><ion-icon name="caret-forward"></ion-icon></a>
        </span>
      </div>
    </main>
  </div>
</div>

<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>


  </body>
</html>
