<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html::head">
  </head>
<style>
  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
<script>
  function checkPasswordMatch() {
    let password = document.getElementById("password").value;
    let confirm_password = document.getElementById("confirm_password").value;

    if (password != confirm_password) {
      alert("비밀번호가 일치하지 않습니다.");
      return false;
    } else {
      return true;
    }
  }
</script>
  <body>
<header th:replace="header.html :: header"></header>
<div class="container-fluid">
  <div class="row">
    <nav th:replace="nav.html :: nav"></nav>


    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2" >비밀번호 변경</h1>
      </div>
      <div class = "container text-center">
        <form th:method="patch" action="/mypage/password" th:action="@{/mypage/password}" onsubmit="return checkPasswordMatch()">
          <p> 변경하고자 하는 비밀번호를 입력해주세요</p>
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" name="password" class="form-control" aria-describedby="passwordHelpBlock"><br><br>
          <label for="confirm_password" class="form-label">Password Check</label>
          <input type="password" id="confirm_password" class="form-control" aria-describedby="passwordHelpBlock"><br><br>
            <input type="submit" class="btn btn-primary" value="비밀번호 변경">
        </form>
      </div>
    </main>
  </div>
</div>
<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>

  </body>
</html>
